; media module
; configuration for other modules
;
; Part of »Zugzwang Project«
; https://www.zugzwang.org/modules/media
;
; @author Gustaf Mossakowski <gustaf@koenige.org>
; @copyright Copyright © 2020-2023 Gustaf Mossakowski
; @license http://opensource.org/licenses/lgpl-3.0.html LGPL-3.0
;
; Syntax of this configuration file:
; 
; [module_subsection]: just module names + sections, for better readability
; key = value
; key = __defaults__ initialises key with default values
;

[zzbrick]
brick_page_shortcuts[] = __defaults__
brick_page_shortcuts[] = image
brick_page_shortcuts[] = doc
brick_page_shortcuts[] = download
brick_page_shortcuts[] = video
brick_types_translated[image] = page
brick_types_translated[doc] = page
brick_types_translated[download] = page
brick_types_translated[video] = page
