; media module
; package information
;
; Part of »Zugzwang Project«
; https://www.zugzwang.org/modules/media
;
; @author Gustaf Mossakowski <gustaf@koenige.org>
; @copyright Copyright © 2026 Gustaf Mossakowski
; @license http://opensource.org/licenses/lgpl-3.0.html LGPL-3.0
;

[about]
name = "media module"
author = "Gustaf Mossakowski"
tagline = "Uploads, media library, thumbnails, previews, and embedded players"
