; media module
; routes
;
; Part of »Zugzwang Project«
; https://www.zugzwang.org/modules/media
;
; @author Gustaf Mossakowski <gustaf@koenige.org>
; @copyright Copyright © 2026 Gustaf Mossakowski
; @license http://opensource.org/licenses/lgpl-3.0.html LGPL-3.0
;

[privacy_policy]
description = "Privacy policy page"
match_parameters = 1
group = public

[media_download]
description = "Download files"
brick = "request filedownload *"
group = public

[media_import]
description = "Import files"
brick = "make fileimport *"
group[] = "read and write"
group[] = localhost

[media_internal]
description = "Internal media folders on website"
brick = "forms media"
group = "read and write"

[media_internal_folder]
description = "Internal media folders on website, specific folder"
brick = "forms media *"
include_access[] = media_internal
